@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/spacing' as *;

.name {
  @include type-style('productive-heading-05');
  font-weight: 600;
}

.model {
  @include type-style('helper-text-02');
}

.price {
  @include type-style('productive-heading-03');
  font-weight: 600;
  padding-top: $spacing-04;
}

.overview {
  @include type-style('productive-heading-03');
  font-weight: 600;
  padding: $spacing-04 0;
}

.numberInput {
  padding-right: $spacing-04;
}

.footer {
  padding-top: $spacing-08;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
